
{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<style>
    body{
        background-color: gray;
    }
</style>
<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h5> Account deltetation </h5>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <p> Are you sure that you want to delete your account</p>
            <button type="submit" class="btn btn-danger btn-md text-white">&nbsp; Delete your account</button>
            <br>
            <br>
            <a class="btn btn-primary btn-md text-white" type="button" href="{% url 'profile-management' %}"><i class="fa fa-arrow-left"></i>&nbsp;Go back</a>           
        </form>




    </div>

</body>
<br><br>

{% endblock%}