
{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<style>
    body{
        background-color: gray;
    }
</style>
    <body>

        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h4><i class="fa fa-address-book"></i>&nbsp; Profile management</h4>
            <hr>
           
        </div>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <h5> Update your account </h5>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{user_form.username|as_crispy_field}}

                {{user_form.email|as_crispy_field}}

                <br>
                <button type="submit" class="btn btn-primary btn-md text-white">&nbsp; Update your account</button>
            </form>




        </div>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">

            <h5> Delete your account </h5>
            <hr>
            <p>Proceed if you wish to delete your account</p>
            <a class="btn btn-danger navbar-btn text-white" type="button" href="{% url 'delete-account' %}">Delete your account</a>
        </div>

    </body>
    <br><br>

{% endblock%}